<section>
  <div class="card-container">
    <card [background]="background">
      <card-wrapper card-wrapper>
        <div class="body-container">
          <div class="body-wrapper">
            <div>
              <h1 class="card-title">Total Subscriber</h1>
            </div>
            <button class="arrow-right">
              <i class="las la-arrow-right"></i>
            </button>
          </div>
          <div class="person-container">
            <div class="person-wrapper">
              <img [src]="video" alt="video" />
              <p class="person-number">10</p>
            </div>
          </div>
        </div>
      </card-wrapper>
    </card>
    <card [background]="background">
      <card-wrapper card-wrapper>
        <div class="body-container">
          <div class="body-wrapper">
            <div>
              <h1 class="card-title">Total Subscriber</h1>
            </div>
            <button class="arrow-right">
              <i class="las la-arrow-right"></i>
            </button>
          </div>
          <div class="person-container">
            <div class="person-wrapper">
              <img [src]="person" alt="person" />
              <p class="person-number">20</p>
            </div>
          </div>
        </div>
      </card-wrapper>
    </card>
  </div>
</section>
