.icon-container {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding-top: 0.6rem;

  .icon-wrapper {
    display: grid;
    grid-template-columns: 4rem auto;
    justify-content: center;
    align-items: center;

    .icon-title {
      @apply maya-font-medium;
      font-size: 1rem;
    }
  }

  .icon {
    font-size: 2rem;
  }
}
