.create-video-title {
  @apply maya-text-3xl;
}

.container {
  padding: 2rem 0 1rem 0;

  @screen lg {
    padding: 2rem 5rem 1rem 5rem;
  }

  @screen xl {
    padding: 2rem 15rem 1rem 15rem;
  }

  .wrapper {
    display: flex;
    align-items: center;

    .circle-container {
      display: grid;
      grid-template-rows: 2.5rem auto;

      .circle-icon {
        z-index: 2;
        display: flex;
        font-size: 2.5rem;
        align-items: center;
        justify-content: center;
      }

      .circle-title {
        text-align: start;
        margin-left: -0.25rem;
      }
    }

    .circle-line {
      z-index: 1;
      flex: 1 0 auto;
      margin-top: -2rem;
      margin-left: -2rem;
      margin-right: -1rem;
      border-top: 2px solid #2e2e2e;
    }
  }
}

.card-container {
  padding: 2rem 0 1rem 0;

  @screen xl {
    padding: 2rem 6rem 1rem 6rem;
  }

  .card-wrapper {
    padding: 0.5rem 1rem;

    .card-title {
      @apply maya-text-2xl;
      color: #ff4654;
    }
  }

  .upload-container {
    display: grid;
    gap: 2rem;
    padding: 0 1rem;

    @screen lg {
      padding: 0 5rem;
    }

    @screen xl {
      padding: 0 10rem;
    }

    .card {
      box-shadow: 0 2px 18px 1px rgba(222, 222, 222, 0.1);
      padding: 0 2rem;
      border-radius: 0.5rem;

      .upload-title {
        @apply maya-text-xl;
        color: #ff4654;
      }

      .upload-content {
        font-size: 0.9rem;
        padding: 0 0 0.5rem 0;
      }

      .icon-container {
        display: grid;
        justify-content: center;
        padding: 2.5rem;
        background-color: #d5d5d580;
        .upload-icon {
          background-color: #2e2e2e80;
          border-radius: 50%;
          padding: 1rem 1rem 1.25rem 1rem;
        }
      }

      .dropdown-container {
        position: relative;
        display: grid;
        padding: 1rem 0;

        .dropdown {
          @apply maya-text-primary-neutral-dark;
          outline: none;
          width: 100%;
          padding: 0 1rem;
          background-color: #d5d5d580;
          color: white;
          height: 3rem;
          display: grid;
          border-radius: 0.5rem;
          font-size: 0.9rem;
          appearance: none;
          cursor: pointer;

          @screen lg {
            font-size: 1.1rem;
          }
        }

        .option {
          @apply maya-text-primary-neutral-dark;
          background-color: white;
          font-size: 1.1rem;
          width: fit-content;
        }
      }

      .dropdown-container:after {
        @apply maya-text-primary-neutral-dark;
        content: "\f078";
        font: 1.25rem/1 FontAwesome;
        right: 1rem;
        top: 1rem;
        padding: 0.9rem 0 0 0.25rem;
        position: absolute;
        pointer-events: none;
        color: white;
      }

      select::-ms-expand {
        display: none;
      }
    }
  }

  .btn-container {
    padding-top: 1rem;
    display: grid;
    justify-content: end;
    padding-right: 2rem;

    .next-btn {
      @apply maya-font-light;
      margin-top: 0.8rem;
      padding: 0.5rem 3rem;
      text-align: center;
      border-radius: 0.5rem;
      background-color: #ff4654;
      color: white;
      font-size: 1.1rem;
    }
  }
}

.active {
  color: #ff4654;
}
