<card [background]="background">
  <card-wrapper card-wrapper>
    <div class="icon-container">
      <button>
        <i class="icon las la-arrow-left"></i>
      </button>
      <p class="icon-title">Back to users</p>
    </div>
    <div class="container">
      <p class="title">Create User</p>
      <div class="dropdown-container">
        <p class="dropdown-title">Roles</p>
        <select class="dropdown">
          <option class="option">Roles</option>
          <option class="option">Influencer</option>
          <option class="option">Sales User</option>
        </select>
      </div>
      <div class="wrapper">
        <div class="content">
          <p class="dropwdown-title">First Name</p>
          <input class="dropdown-text" type="text" placeholder="Firstname" />
        </div>
        <div class="content">
          <p class="dropwdown-title">Last Name</p>
          <input class="dropdown-text" type="text" placeholder="Lastname" />
        </div>
      </div>
      <div class="wrapper">
        <div class="content">
          <p class="dropwdown-title">First Name</p>
          <input class="dropdown-text" type="text" placeholder="Firstname" />
        </div>
        <div class="content">
          <p class="dropwdown-title">Last Name</p>
          <input class="dropdown-text" type="text" placeholder="Lastname" />
        </div>
      </div>
      <div class="wrapper">
        <div class="content">
          <p class="dropwdown-title">First Name</p>
          <input class="dropdown-text" type="text" placeholder="Firstname" />
        </div>
        <div class="content">
          <p class="dropwdown-title">Last Name</p>
          <input class="dropdown-text" type="text" placeholder="Lastname" />
        </div>
      </div>
      <div class="btn-container">
        <button class="btn-create">Create</button>
      </div>
    </div>
  </card-wrapper>
</card>
