.tabs {
  padding: 0.5rem 1.2rem;
  display: block;
  cursor: pointer;

  @screen lg {
    padding: 0.5rem 1.5rem;
  }

  @screen xl {
    padding: 0.5rem 2.25rem;
  }

  .tab-items {
    display: grid;
    grid-template-columns: 2rem 1fr;
    padding: 0.75rem 1.2rem;
    border-radius: 0.35rem;
    @apply maya-font-semibold;
    width: 100%;

    @screen lg {
      grid-template-columns: 3rem 1fr;
      padding: 0.75rem 2rem;
    }

    @screen xl {
      padding: 0.75rem 3.5rem;
    }

    &:hover {
      @apply maya-font-bold;
      background-color: #212121;
      color: white;

      .icon {
        color: #ff4654;
      }
    }

    .icon {
      font-size: 1.5rem;

      @screen lg {
        font-size: 2rem;
      }
    }

    .tab-title {
      @apply maya-font-light;
      font-size: 0.9rem;
      padding-top: 0.15rem;

      @screen lg {
        padding-top: 0.25rem;
        font-size: 1.1rem;
      }
    }
  }

  .active {
    @apply maya-font-bold;
    background-color: #212121;
    color: white;

    .icon {
      color: #ff4654;
    }
  }
}
