.container {
  display: grid;
  grid-template-rows: 0.5fr 1fr;

  .route-container {
    display: grid;
    grid-template-rows: 1fr 8rem;

    .route-wrapper {
      padding: 0 2rem;
      display: grid;
      grid-template-columns: 5rem 1fr;
      gap: 2rem;
      align-items: center;

      .route-title {
        @apply maya-text-3xl maya-font-medium;
      }
    }
  }

  .btn-container {
    display: grid;
    grid-template-columns: repeat(3, 6rem);
    padding: 0 3rem 2rem 3rem;

    .btn-vid {
      @apply maya-text-lg;
      padding-top: 0.75rem;
    }

    .active {
      color: #ff4654;
      border-bottom: 1px solid #ff4654;
    }
  }

  .wrapper {
    display: grid;
    justify-items: center;
    padding: 4rem 0;
    grid-auto-flow: row;

    .payment {
      display: grid;
      grid-template-columns: 0.75fr 2fr 1fr;
      background-color: #2e2e2e;
      padding: 2rem 4rem;
      height: fit-content;
      border-radius: 0.75rem;
      width: 75%;
      box-shadow: 0 8px 6px -6px #ff4654;
      gap: 1rem;

      .number {
        display: grid;
        justify-content: end;
        align-items: center;
      }

      .content {
        @apply maya-text-xl maya-font-normal;
        padding-bottom: 1rem;
      }

      .sub-content {
        @apply maya-text-2xl maya-font-semibold;
      }
    }
  }
}
