<div>
  <div class="container">
    <div class="wrapper">
      <button (click)="back()">
        <i class="las la-arrow-left"></i>
      </button>
      <div>
        <p class="back">Back to help online</p>
      </div>
    </div>
    <div class="body">
      <h1 class="body-title">Terms & Conditions</h1>
      <p class="maya-pb-10">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Scelerisque in
        dictum non consectetur a erat nam at lectus. Convallis convallis tellus
        id interdum velit laoreet. Eget mauris pharetra et ultrices neque. Ut
        morbi tincidunt augue interdum. Eleifend quam adipiscing vitae proin
        sagittis nisl. Faucibus ornare suspendisse sed nisi lacus sed viverra
        tellus in. Nunc non blandit massa enim nec dui nunc mattis enim. Eu
        augue ut lectus arcu bibendum. Vitae et leo duis ut. Etiam erat velit
        scelerisque in dictum non consectetur a.
      </p>
      <p>
        Rhoncus est pellentesque elit ullamcorper dignissim. Ultricies lacus sed
        turpis tincidunt. Sapien nec sagittis aliquam malesuada bibendum arcu
        vitae elementum. Odio euismod lacinia at quis risus sed vulputate odio
        ut. Semper feugiat nibh sed pulvinar proin. Sed risus pretium quam
        vulputate dignissim suspendisse in. Eget est lorem ipsum dolor sit amet.
        Pellentesque habitant morbi tristique senectus. Morbi leo urna molestie
        at elementum. Rhoncus aenean vel elit scelerisque mauris. Integer enim
        neque volutpat ac tincidunt. Quam id leo in vitae turpis massa sed
        elementum tempus. Non arcu risus quis varius quam. Adipiscing elit
        pellentesque habitant morbi tristique. Mattis enim ut tellus elementum
        sagittis vitae et leo. Massa ultricies mi quis hendrerit dolor magna
        eget est. Elit ut aliquam purus sit amet luctus venenatis. Lectus nulla
        at volutpat diam ut venenatis. In egestas erat imperdiet sed euismod
        nisi.
      </p>
    </div>
  </div>
</div>
