<div class="container">
  <navbar>
    <span navbar-content>
      <navbar-menu></navbar-menu>
    </span>
  </navbar>
  <div class="wrapper">
    <p class="title">Paid Videos</p>
    <div class="payment">
      <div class="number">
        <p>1</p>
      </div>
      <div class="image">
        <img [src]="paidVideo" alt="paidVideo" />
      </div>
      <div>
        <h1 class="content">
          Suntukan ng mga sikat 2 Haring Bangis Vs John Casimero
        </h1>
        <p class="sub-content">VloggersTv</p>
      </div>
    </div>
    <div class="payment">
      <div class="number">
        <p>2</p>
      </div>
      <div class="image">
        <img [src]="paidVideo" alt="paidVideo" />
      </div>
      <div>
        <h1 class="content">
          Suntukan ng mga sikat 2 Haring Bangis Vs John Casimero
        </h1>
        <p class="sub-content">VloggersTv</p>
      </div>
    </div>
    <div class="payment">
      <div class="number">
        <p>3</p>
      </div>
      <div class="image">
        <img [src]="paidVideo" alt="paidVideo" />
      </div>
      <div>
        <h1 class="content">
          Suntukan ng mga sikat 2 Haring Bangis Vs John Casimero
        </h1>
        <p class="sub-content">VloggersTv</p>
      </div>
    </div>
  </div>
</div>
