<div>
  <div class="container">
    <div class="wrapper">
      <button (click)="back()">
        <i class="las la-arrow-left"></i>
      </button>
      <div>
        <p class="back">Back to setting</p>
      </div>
    </div>
  </div>
  <div>
    <p class="number-title">Change Mobile Number</p>
    <div class="number-container">
      <p class="number-content">Current Mobile Number</p>
      <div class="number-wrapper">
        <div class="searchBox">
          <span class="icon-search">
            <i class="las la-phone"></i>
          </span>
          <input type="text" class="mainInput" placeholder="09XX-XXXX-XXX" />
        </div>
      </div>
    </div>
    <div class="number-container">
      <p class="number-content">New Mobile Number</p>
      <div class="number-wrapper">
        <div class="searchBox">
          <span class="icon-search">
            <i class="las la-phone"></i>
          </span>
          <input type="text" class="mainInput" placeholder="09XX-XXXX-XXX" />
        </div>
      </div>
    </div>
    <div class="number-container">
      <p class="number-content">Confirm Mobile Number</p>
      <div class="number-wrapper">
        <div class="searchBox">
          <span class="icon-search">
            <i class="las la-phone"></i>
          </span>
          <input type="text" class="mainInput" placeholder="09XX-XXXX-XXX" />
        </div>
      </div>
    </div>
  </div>
  <div class="btn-container">
    <button class="btn-confirm">Confirm</button>
  </div>
</div>
