<div>
  <div class="container">
    <div class="wrapper">
      <button (click)="back()">
        <i class="las la-arrow-left"></i>
      </button>
      <div>
        <p class="back">Back to setting</p>
      </div>
    </div>
  </div>
  <div>
    <p class="password-title">Change Password</p>
    <div class="password-container">
      <p class="password-content">Current Password</p>
      <div class="password-wrapper">
        <div class="searchBox">
          <span class="icon-search">
            <i class="las la-eye"></i>
          </span>
          <input type="password" class="mainInput" placeholder="********" />
        </div>
      </div>
    </div>
    <div class="password-container">
      <p class="password-content">New Password</p>
      <div class="password-wrapper">
        <div class="searchBox">
          <span class="icon-search">
            <i class="las la-eye"></i>
          </span>
          <input type="password" class="mainInput" placeholder="********" />
        </div>
      </div>
    </div>
    <div class="password-container">
      <p class="password-content">Confirm Password</p>
      <div class="password-wrapper">
        <div class="searchBox">
          <span class="icon-search">
            <i class="las la-eye"></i>
          </span>
          <input type="password" class="mainInput" placeholder="********" />
        </div>
      </div>
    </div>
  </div>
  <div class="btn-container">
    <button class="btn-confirm">Confirm</button>
  </div>
</div>
