<div>
  <p class="create-video-title">Create Video</p>
  <div class="container">
    <div class="wrapper">
      <div
        class="circle-container"
        routerLink="/dashboard/channel/contents/upload-video"
        routerLinkActive="active"
      >
        <i class="circle-icon fa-solid fa-circle"></i>
        <p class="circle-title">Upload</p>
      </div>
      <div class="circle-line"></div>
      <div
        class="circle-container"
        routerLink="/dashboard/channel/contents/details-video"
        routerLinkActive="active"
      >
        <i class="circle-icon fa-solid fa-circle"></i>
        <p class="circle-title">Details</p>
      </div>
      <div class="circle-line"></div>
      <div
        class="circle-container"
        routerLink="/dashboard/channel/contents/advisory-video"
        routerLinkActive="active"
      >
        <i class="circle-icon fa-solid fa-circle"></i>
        <p class="circle-title">Advisory</p>
      </div>
      <div class="circle-line"></div>
      <div
        class="circle-container"
        routerLink="/dashboard/channel/contents/visibility-video"
        routerLinkActive="active"
      >
        <i class="circle-icon fa-solid fa-circle"></i>
        <p class="circle-title">Visibility</p>
      </div>
    </div>
  </div>
  <div class="card-container">
    <card [background]="background">
      <card-wrapper card-wrapper>
        <div class="card-wrapper">
          <h1 class="card-title">Create Video</h1>
          <p class="card-content">Upload media content</p>
        </div>
        <div class="upload-container">
          <card class="card" [background]="background">
            <card-wrapper card-wrapper>
              <div>
                <h1 class="upload-title">Visibility</h1>
                <p class="upload-content">
                  Choose when to publish and who can see your video
                </p>
                <div class="dropdown-container">
                  <select class="dropdown">
                    <option selected disabled hidden>Private</option>
                    <option class="option">Option 1</option>
                    <option class="option">Option 2</option>
                    <option class="option">Last long option</option>
                  </select>
                </div>
              </div>
            </card-wrapper>
          </card>
          <card class="card" [background]="background">
            <card-wrapper card-wrapper>
              <div>
                <h1 class="upload-title">Schedule</h1>
                <p class="upload-content">Choose playlist where to upload</p>
                <div class="dropdown-container">
                  <select class="dropdown">
                    <option selected disabled hidden>PG</option>
                    <option class="option">Option 1</option>
                    <option class="option">Option 2</option>
                    <option class="option">Last long option</option>
                  </select>
                </div>
              </div>
            </card-wrapper>
          </card>
        </div>
        <div class="btn-container">
          <button class="next-btn">Upload</button>
        </div>
      </card-wrapper>
    </card>
  </div>
</div>
