<card [background]="background">
  <card-wrapper card-wrapper>
    <div class="card">
      <p class="card-title">My Channels</p>
      <div class="table-container">
        <table>
          <div class="tbl-header">
            <tr class="header-container">
              <th>Channel</th>
              <th>Subscriber</th>
              <th>Date Created</th>
            </tr>
          </div>

          <div class="tbl-content">
            <tr class="tbl-content-container">
              <td class="video-container">
                <div class="video-wrapper">
                  <img [src]="videoImage" alt="videoImage" />
                </div>
                <p class="title">Vloggers TV Admin</p>
              </td>

              <td class="tbl-data">500K</td>
              <td class="tbl-data">2022-04-12</td>
            </tr>
            <tr class="tbl-content-container">
              <td class="video-container">
                <div class="video-wrapper">
                  <img [src]="videoImage" alt="videoImage" />
                </div>
                <p class="title">Vloggers TV Admin</p>
              </td>

              <td class="tbl-data">500K</td>
              <td class="tbl-data">2022-04-12</td>
            </tr>
          </div>
        </table>
      </div>
    </div>
  </card-wrapper>
</card>
