.container {
  display: grid;
  grid-template-rows: 0.5fr 0.75fr 1fr;

  .route-container {
    display: grid;
    grid-template-rows: 1fr 8rem;

    .route-wrapper {
      padding: 0 2rem;
      display: grid;
      grid-template-columns: 5rem 1fr;
      gap: 2rem;
      align-items: center;

      .route-title {
        @apply maya-text-3xl maya-font-medium;
      }
    }
  }

  .btn-container {
    display: grid;
    grid-template-columns: repeat(3, 6rem);
    padding: 0 3rem 2rem 3rem;

    .btn-vid {
      @apply maya-text-lg;
      padding-top: 0.75rem;
    }

    .active {
      color: #ff4654;
      border-bottom: 1px solid #ff4654;
    }
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1.75fr;
    gap: 1.5rem;
    padding: 2rem;

    .stream-container {
      line-height: 1.5rem;

      .stream-title {
        font-weight: 700;
        font-size: 1.35rem;
        line-height: 1.75rem;
        padding-top: 1.5rem;
        padding-bottom: 0.5rem;

        @screen lg {
          padding-top: 1.75rem;
          font-size: 2rem;
          line-height: 2.5rem;
          padding-bottom: 1rem;
        }
        @screen xl {
          padding-top: 0;
          font-size: 3rem;
          line-height: 3rem;
        }
      }

      .stream {
        color: #ff4654;
      }
    }

    .image-container {
      position: relative;
      display: grid;
      justify-content: end;

      .image-wrapper {
        position: relative;
      }

      .image {
        height: 100%;
        width: 100%;
        border-radius: 0.75rem;
      }

      .play {
        z-index: 900;
        position: absolute;
        top: 7.5rem;
        left: 10.5rem;

        @screen lg {
          top: 8rem;
          left: 16.5rem;
        }

        @screen xl {
          top: 12rem;
          left: 22rem;
        }
      }
    }
  }

  .most-watch {
    @apply maya-font-semibold;
    font-size: 2rem;
    color: white;
    padding: 0 2rem 1rem 2rem;
  }

  .match-container {
    position: relative;
    padding: 0 0 1rem 2rem;
  }

  .slider-container {
    display: grid;
    grid-auto-flow: column;
  }

  .slider-wrapper {
    white-space: nowrap;
    overflow: hidden;
  }
}
